:root{
    --background-color: #011132;
    --text-color:  #F9FAFB;
    --highlight-color: hwb(21 0% 8%) ;
    --unfocused-highlight-color: hwb(0 55% 45%);
    --transition-function-w-time: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    --transition-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    background-image: url(images/background.avif);
    min-height: 100vh;

    .filter {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
    }
}

/*===== Navigation Styling =====*/

.nav-bar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;

    ul {
        display: grid;
        grid-auto-flow: column;
        align-items:center;
        list-style-type: none;
        justify-content: space-between;
    }

    li.visited {
        background-color: var(--highlight-color);
        color: white;
    }

    li {
        color: black;
    }

    div {
        display: grid;
        grid-auto-flow: column;
    }

    a {
        color: inherit;
        display: block;
        padding: 1rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        transition: 250ms ease;

        i {
            color: inherit;
        }
    }

    a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}


/*===== About Me Styling ===== */

.about-me {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;

    .profile {

        padding-right: 2rem;
        h1 {
            width: 100%;
            text-align: center;
            padding-block: 1rem;
        }
        img {
            width: 400px;
            aspect-ratio: 1;
            border-radius: .6rem;
        }
    
    }

    .content {

        div {
            padding-block: .6rem;
        }

        a {
            display: block;
            text-decoration: underline;
            line-height: 1.6rem;
            color: orange;
            transition: 250ms ease;
            cursor: pointer;
        }

        a:hover {
            color: var(--highlight-color);
        }

        h3 {
            padding-block: .6rem;
        }

        .text {
            color: lightgray;
            line-height: 1.6rem;
            padding-left: 3ch;
        }

        .long {
            display: block;
            max-height: 200px;
            overflow-y: auto;
        }

        .long::-webkit-scrollbar {
            width: 12px; /* Any value > 0px */
        }
        

        .long::-webkit-scrollbar-track {
            border-radius: 1rem;
            background: gray;
        }

        .long::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background-color: white;
        }


        .inner-content {
            display: flex;
            > div {
                flex: 1;
            }
        }
    }


}




/*===== Project Styling =====*/

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 500px);
    grid-template-areas: 
    "box-1 box-2";

    h2 {
        position: absolute;
        padding: 1rem;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.8);
    }

    .media-cont {
        display: grid;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        border-right: 1px solid rgba(255, 255, 255, .2);
    }

    .media {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(10px);
        position: absolute;
        overflow: hidden;
        bottom: 0;
        line-height: 1.2rem;
        transition: 500ms ease-in-out;
    }

    

    ul {
        flex-shrink: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        background-color: rgba(0, 0, 0, 0.8);

        i {
            transition: 500ms ease-in-out;
        }

        li {
            padding: 1rem;
            transition: 250ms ease;
            align-items: center;
        }

        li:hover {
            background-color: gray;
        }

        li.view{
    
            i {
                transform: rotate(-180deg);
            }
        }
       
    }

    .content.view {
        height: 80%;
    }

    a {
        text-decoration: none;
    }

    a.visited {
        background-color: var(--highlight-color);
        color: white;
    }

    p {
        flex: 1;
        min-height: 0;
        line-height: 1.6rem;
        color: lightgray;
        padding: 2rem;
        overflow-y: auto;
    }

    p::-webkit-scrollbar {
        width: 12px; /* Any value > 0px */
    }
    

    p::-webkit-scrollbar-track {
        border-radius: 1rem;
        background: gray;
    }

    p::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: white;
    }

}

@media (max-width: 450px){

    .hide-on-mobile {
        display: none;
    }


    

    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 450px);
        grid-template-areas: 
        "box-1" 
        "box-2";

        p::-webkit-scrollbar {
            width: 2px; /* Any value > 0px */
        }
    
        p::-webkit-scrollbar-track {
            border-radius: 1rem;
            background: gray;
        }
    
        p::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background-color: white;
        }
    }

    .about-me {
        flex-direction: column;
        .profile {
            padding: 0;
        }

        .content {

            .long {
                max-height: none;
            }

            .short-on-mobile{
                max-height: 200px;
            }

            .long::-webkit-scrollbar {
                width: 3px; /* Any value > 0px */
            }
            

            .long::-webkit-scrollbar-track {
                border-radius: 1rem;
                background: gray;
            }

            .long::-webkit-scrollbar-thumb {
                border-radius: 1rem;
                background-color: white;
            }
        }
    }

    

}

